@model IEnumerable<MVCThing.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerOneId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerTwoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player1Hits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player2Hits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Winner)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerOneId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerTwoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player1Hits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player2Hits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Winner)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
